{% include month_vars.html %}
{% assign monthNum = include.month | minus: 1 %}
{% assign shortMonthName = monthsShortName[monthNum] %}
{% assign longMonthName = months[monthNum] %}
<div class="long-cal">
    {% for i in (1..31) %}

    {% assign total_events_count = 0 %}

    {% for smallevent in site.data.events %}
    {% if smallevent.month == shortMonthName and smallevent.day == i %}
    {% assign total_events_count = total_events_count | plus: 1 %}
    {% endif %}
    {% endfor %}
    {% for event in site.pages %}
    {% if event.month == shortMonthName and event.day == i %}
    {% assign total_events_count = total_events_count | plus: 1 %}
    {% endif %}
    {% endfor %}

    

    {% if total_events_count > 0 %}
    <div class="day">
        {% capture current_date %}{{ longMonthName }} {{i}}, {{ "now" | date: "%Y" }}{% endcapture %}
	    <div class="day-number"><div class="day-name">{{ current_date | date: "%a" }}</div>{% if i < 10 %}0{{i}}{% else %}{{ i }}{% endif %}</div>
		<div class="day-long-details">{% include event-checker-long.html month=shortMonthName day=i %}</div>
    </div>
    {% endif %}
    {% endfor %}
</div>