<head>
	<link rel="preload" href="/fonts/Numbers-Regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="/fonts/Numbers-Medium.woff2" as="font" type="font/woff2" crossorigin>
	<style>@font-face{font-family:Numbers;font-style:normal;font-weight:400;src:url(/fonts/Numbers-Regular.woff2) format('woff2')}@font-face{font-family:Numbers;font-style:normal;font-weight:500;src:url(/fonts/Numbers-Medium.woff2) format('woff2')}</style>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  {% capture title %}
    {%- if page.share-title -%}
      {{ page.share-title | strip_html | xml_escape }}
    {%- elsif page.title -%}
      {{ page.title | strip_html | xml_escape  }}
    {%- else -%}
      {{ site.title | strip_html | xml_escape }}
    {%- endif -%}
  {% endcapture %}

  {% capture description %}
    {%- if page.share-description -%}
      {{ page.share-description | strip_html | xml_escape }}
    {%- elsif page.subtitle -%}
      {{ page.subtitle | strip_html | xml_escape }}
    {%- else -%}
      {%- assign excerpt_length = site.excerpt_length | default: 50 -%}
      {{ page.content | strip_html | xml_escape | truncatewords: excerpt_length | strip }}
    {%- endif -%}
  {% endcapture %}


  {% if page.seotitle %} <title>{{ page.seotitle }}</title> {% else %} <title>{{ title }}</title> {% endif %}

  {% if site.author %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}


  {% if page.desc %}
  <meta name="description" content="{{ page.desc }}">
  {% elsif page.subtitle %}
 <meta name="description" content="{{ page.subtitle }}">
  {% else %}
  <meta name="description" content="{{ description }}">
  {% endif %}

 

  {% if site.mobile-theme-col %}
  <meta name="theme-color" content="{{ site.mobile-theme-col }}">
  {% endif %}

  {% if site.keywords %}
  <meta name="keywords" content="{{ site.keywords }}">
  {% endif %}

  {% if site.rss-description %}
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | absolute_url }}">
  {% endif %}
  
{% if page.include_remote_javascript %}
  {% for src in page.include_remote_javascript %}
    <script defer src="{{src}}"></script>
  {% endfor %}
{% endif %}

{% if page.include_javascript %}
  {% for filename in page.include_javascript %}
    <script defer src="/javascripts/{{filename}}.js"></script>
  {% endfor %}
{% endif %}

  
  {% if layout.common-ext-css %}
    {% for css in layout.common-ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}

  {% if layout.common-css %}
    {% for css in layout.common-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.site-css %}
    {% for css in site.site-css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if page.ext-css %}
    {% for css in page.ext-css %}
      {% include ext-css.html css=css %}
    {% endfor %}
  {% endif %}
  
  {% if page.css %}
    {% for css in page.css %}
      <link rel="stylesheet" href="{{ css | relative_url }}">
    {% endfor %}
  {% endif %}

  {% if site.fb_app_id %}
  <meta property="fb:app_id" content="{{ site.fb_app_id }}">
  {% endif %}

  {% if site.title %}
  <meta property="og:site_name" content="{{ site.title }}">
  {% endif %}

  {%- capture img -%}
    {%- if page.share-img -%}
      {{ page.share-img }}
    {%- elsif page.cover-img -%}
      {%- if page.cover-img.first -%}
        {{ page.cover-img[0].first.first }}
      {%- else -%}
        {{ page.cover-img }}
      {%- endif -%}
    {%- elsif page.thumbnail-img -%}
      {{ page.thumbnail-img }}
    {%- elsif site.avatar -%}
      {{ site.avatar }}
    {% endif %}
  {%- endcapture -%}
  {%- assign img=img | strip -%}

  <meta property="og:title" content="{{ title }}">
  
  {% if page.desc %}
  <meta property="og:description" content="{{ page.desc }}">
  {% elsif page.subtitle %}
  <meta property="og:description" content="{{ page.subtitle }}">
  {% else %}
  <meta property="og:description" content="{{ description }}">
  {% endif %}


  <meta property="og:image" content="https://tools.bitbo.io/img/og.png">

  {% if page.id %}
  <meta property="og:type" content="article">
  <meta property="og:article:author" content="{{ site.author }}">
  <meta property="og:article:published_time" content="{{ page.date | date_to_xmlschema }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <link rel="canonical" href="https://tools.bitbo.io{{ page.url | absolute_url }}">
  {% else %}
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url | strip_index }}">
  <link rel="canonical" href="https://tools.bitbo.io{{ page.url | absolute_url | strip_index }}">
  {% endif %}

  {% if img != "" and img != site.avatar %}
  <meta name="twitter:card" content="summary_large_image">
  {% else %}
  <meta name="twitter:card" content="summary">
  {% endif %}
  <meta name="twitter:site" content="@{{ site.social-network-links.twitter }}">
  <meta name="twitter:creator" content="@{{ site.social-network-links.twitter }}">

  <meta property="twitter:title" content="{{ title }}">
  <meta property="twitter:description" content="{{ description }}">

  <meta name="twitter:image" content="https://tools.bitbo.io/img/og.png">


  {% if page.head-extra %}
    {% for file in page.head-extra %}
      {% include {{ file }} %}
    {% endfor %}
  {% endif %}
  
  {% if page.jquery %}
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% endif %}
  
  {% if page.cat %}
  <meta name="robots" content="noindex, nofollow">
  {% endif %}
  
  <!-- Meta Pixel Code -->
  <script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '354887133747388');
  fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=354887133747388&ev=PageView&noscript=1"
  /></noscript>
  <!-- End Meta Pixel Code -->

  
  <script src="https://cdn.usefathom.com/script.js" data-site="SLIFJUVH" defer></script>

</head>