<div class="item-rating">
    {% if include.rating > 1 and include.rating < 2 %}
    <img src="https://buybitcoinworldwide.com/pages/img/star-rating-one.svg" role="presentation" />
    {% elsif include.rating == 2 and include.rating < 3 %}
    <img src="https://buybitcoinworldwide.com/pages/img/star-rating-two.svg" role="presentation" />
    {% elsif include.rating == 3 and include.rating < 4 %}
    <img src="https://buybitcoinworldwide.com/pages/img/star-rating-three.svg" role="presentation" />
    {% elsif include.rating == 4 and include.rating < 5 %}
    <img src="https://buybitcoinworldwide.com/pages/img/star-rating-four.svg" role="presentation" />
    {% elsif include.rating == 5 %}
    <img src="https://buybitcoinworldwide.com/pages/img/star-rating-five.svg" role="presentation" />
    {% endif %}
  </div>