{% include calendarHeader.html %}
<div id="calendar">
	<div class="day disabled-day">
        <div class="day-number">26</div>
    </div>
    <div class="day disabled-day">
        <div class="day-number">27</div>
    </div>
    <div class="day disabled-day">
        <div class="day-number">28</div>
    </div>
	<div class="day disabled-day">
        <div class="day-number">29</div>
    </div>
	<div class="day disabled-day">
        <div class="day-number">30</div>
    </div>
	<div class="day disabled-day">
        <div class="day-number">31</div>
    </div>
    {% for day in (1..30) %}
    <div class="day">
        <div class="day-number">{% if day < 10 %}0{{day}}{% else %}{{ day }}{% endif %}</div>
        {% include event-checker.html month="Jun" day=day %}
    </div>
    {% endfor %}
</div>


