<aside>
  <div id="bj-wrap">
    <a href="https://charts.bitbo.io/" target="_blank" class="b-unit chartsads" style="margin: 0 !important;"><div class="pic">
      <picture><img src="https://calendar.bitbo.io/assets/bitbo.jpg" alt="bitcoin jobs"></picture></div>
      <div class="r-wrap">
        <div class="text" style="font-size: 14px !important;">
          Get simple & clear Bitcoin charts and data with Bitbo Charts. 
        </div>
        <div class="site">
          charts.bitbo.io
        </div>
      </div>
    </a> 
  </div>
  <header>
    <h2>
      Tools Categories
    </h2>
    
    {%- for page in site.pages -%}
    
    <div class="category-wrapper">
      {{ page.title }}
    </div>
    
    {%- endfor -%}
  </header>

    
</aside>
 