<div class="takeaway-box" id="key-takeaways">
	<h3 style="color: #f2a900; margin-left: 17px;">Key Takeaways</h3>
	<ul>
		<li>{{ include.bullet1 }}</li>
		<li>{{ include.bullet2 }}</li>
		<li>{{ include.bullet3 }}</li>
	</ul>
</div>

<style>
	
	.takeaway-box {
	  margin-bottom: 45px;
	  padding: .5rem 1rem 1rem;
	  border: 1px solid #d4d4d4;
	  box-shadow: .5rem .5rem 0 #f7f7f7;
	  margin-top: 30px;
	}
	
	.takeaway-box ul {
	  line-height: 1.8em;
	}
	
	.takeaway-box li {
	  margin-bottom: 12px;
	}
	
</style>