<a target="_blank" 
   class="{% if tool.class %}{{ tool.class }} {% endif %}tool tool-link" 
   title="{{ tool.title }}" 
   href="{{ tool.link }}"
   {% if tool.btc_only_img %}data-btc-img="/tools/img/{{ tool.btc_only_img }}"{% endif %}
   {% if tool.btc_only_link %}data-btc-link="{{ tool.btc_only_link }}"{% endif %}
   data-default-img="/tools/img/{{ tool.img }}"
   data-default-link="{{ tool.link }}">
     <img src="/tools/img/{{ tool.img }}" alt="{{ tool.title }}">
     <div class="tool-info">
         <h3>{{ tool.title }}</h3>
         <p>{{ tool.desc }}</p>
     </div>
</a>
