---
layout: base
---

{% include sidebar.html %}
<main>
<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    <div {% if page.calendar %}id="calendar-page"{% endif %}class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">

      <div class="month-header">
        <h2 class="detailed-cal">
          {{ page.title }}
          {% if page.subdesc %}
          <p>{{ page.subdesc }}</p>
          {% endif %}
        </h2>
        
       
    </div>

      {{ content }}
      
      {% if page.category %}
      <div class="tools-container">
        {% assign items = site.pages | sort: "name" %}
        {% for tool in items %}
            {% if tool.cat == page.title %}
             <div class="tool">
                 <img src="https://tools.bitbo.io/assets/bitbo.jpg" alt="Halfway">
                 <h3>{{ tool.title }}</h3>
                 <p>{{ tool.desc }}</p>
             </div>
            {% endif %}  
        
        {% endfor %}
      </div>
      {% endif %}  

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
</div>
</main>

<style>
  
  .tools-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .tool {
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 15px;
      position: relative;
      text-align: center;
  }
  
  .tool img {
      width: 50px;
      height: 50px;
      margin-bottom: 10px;
  }
  
  .tool h3 {
      font-size: 18px;
      margin: 10px 0 5px;
  }
  
  .tool p {
      font-size: 14px;
      color: #666;
      margin: 0;
  }
  
  .deal-badge {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: #d4f1c5;
      color: #28a745;
      font-size: 12px;
      padding: 3px 8px;
      border-radius: 5px;
  }
</style>