---
layout: base
---

{% include sidebar.html %}
<main>
<div class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}" role="main">
  <div class="row">
    
    
    <div class="container">
        <div class="logo-section">
            <img style="border-radius: 10px;" src="/img/{{ page.img }}" alt="{{ page.title }}" class="logo">
            <h1>{{ page.title }}</h1>
            <p>{{ page.desc }}</p>
        </div>
        {% assign full_url = page.link %}
        {% assign stripped_url = full_url | remove: "https://" | remove: "http://" | split: "/" | first %}
        <div class="link-section">
            <a href="{{ page.link }}" target="_blank" class="website-link">{{ stripped_url }} ↗</a>
        </div>
    </div>

  <div class="container">
        {{ content }}
  </div>
      
     

  

    </div>
  </div>

</main>

<style>
  
  .container {
      text-align: center;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      padding: 40px;
      margin: 20px;
  }
  
  .logo-section {
      margin-bottom: 20px;
  }
  
  .logo {
      width: 80px;
      height: auto;
  }
  
  .link-section {
      margin-top: 20px;
  }
  
  .website-link {
      font-size: 16px;
      color: #fff;
      background-color: #000;
      text-decoration: none;
      border-radius: 20px;
      padding: 8px 15px;
  }
  
  .website-link:hover {
      background-color: #444;
  }
  
</style>